:root {
  --text: #838b90;
  --black: #252525;
  --ghostery: #00aef0;
  --deep-blue: #0d8fe7;
}

body,
button,
label,
input {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Arial, Helvetica,
    sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: var(--text);
}
