name: Release

on:
  push:
    branches: ['0.4']

jobs:
  release:
    name: Trigger release
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          npm run release
